# combining datasets

Deze notebook wordt gebruikt om de twee datasets te combineren tot één dataset met als doel het uploaden van deze dataset op Kaggle.

In [1]:
import json
import pandas as pd

In [2]:
# the links with the csv files holding the stock information
AMX_csv_90_file = r"../articles_app/data/AMX_prices_90_days.csv"
AMX_csv_followup_file = r"../articles_app/data/AMX_prices.csv"

In [3]:
# reading in file 1
df1 = pd.read_csv(AMX_csv_90_file, sep=";")
df1["date"] = pd.to_datetime(df1["date"])

# reading in file 2
df2 = pd.read_csv(AMX_csv_followup_file, sep=";")
df2["date"] = pd.to_datetime(df2["date"])

# combining the dataframes and sorting it
df_whole = pd.concat([df1, df2])

Toevoegen van sector per component.  
bron:
- https://www.aandelencheck.nl/aandelen/

In [4]:
sector_file = r"../articles_app/data/sectorcompany.json"

# load in the sector data and add it to the dataframe
with open(sector_file) as f:
    sector_info = json.load(f)

# apply the sector to component
df_whole["sector"] = df_whole["stock"].apply(lambda x: sector_info.get(x))

sorteren op basis van datum en aandeel en opslaan naar een csv.

In [5]:
df_whole.sort_values(by=['date', 'stock'], inplace=True)
df_whole.head()

,stock,volume,open,high,low,close,date,indexx,sector
89,AALBERTS NV,384429,25.00,25.65,24.75,25.50,2020-01-06,AMX,Industrie
269,ALTICE EUROPE N.V.,6605201,3.68,3.70,3.48,3.63,2020-01-06,AMX,Telecommunicatie
359,AMX,0,733.76,723.14,733.40,730.63,2020-01-06,AMX,Index
179,Air France-KLM,2575235,4.26,4.29,4.14,4.28,2020-01-06,AMX,Transport & logistiek
449,Aperam,482767,25.24,25.53,24.87,25.36,2020-01-06,AMX,Basismaterialen

In [6]:
# saving the file
df_whole.to_csv('AMX_stock_prices.csv', index=False, sep=';')